/* RESET */
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body, footer, h1, h2, h3, h4, h5, h6, p, ol, ul, div{
    margin: 0px;
}

/* Beam CSS */
footer {
    position: relative;
    bottom: 0px;
    flex: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    margin: 0px
}

footer p{
    width: 100%;
    display: flex;
    justify-content: center;
}

#kip-ft-units {
    display: none;
}

#calc-button {
    margin-bottom: 0px
}

.propUnits {
    display: none;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

#title-cont {
    background-color: rgb(228, 228, 228);
    
}