/* RESET */
body {
    height: 100%;
    width: 100%;
}

body, footer, h1, h2, h3, h4, h5, h6, p, ol, ul, div, li{
    margin: 0px;
}

/* Global Rules */
body {
    background-color: #4E8098;
    /* display: flex; */
    /* justify-content: center; */
}

.typ-text-bg {
    background-color: #FCF7F8;
    border-radius: 5px;
    padding: 5px;
}

main {
    margin: 10px;
    border-radius: 5px;
}

/* Main Elements*/
.container {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#title-cont {
    /* background-color: rgb(228, 228, 228); */
    margin: 10px;
    border-radius: 10px;
    /* text-align: center; */
}

#how-to-cont {
    margin: 10px;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 5px;
}

#inputs-cont {
    margin: 10px 5px;
}

#beam-cont {
    margin: 10px 5px;
}

#results-cont {
    margin: 10px 5px;
}

#calc-button {
    margin-bottom: 0px;
    /* background-color: lightblue; */
    background-color: #FCF7F8;
    border-width: 0;
    /* border-color: #90C2E7; */
    border-radius: 10px;
    height: 30px;
    font-size: 1rem;
    width: 50%;
    margin:10px;
    margin-bottom: 30px;
}

#calc-button:hover {
    background-color: hsla(348, 45%, 98%, 0.82);
}

footer {
    position: fixed;
    bottom: 0px;
    flex: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
    /* background-color: rgb(228, 228, 228); */
    background-color: #FCF7F8;
    margin: 0px
}

footer p{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Misc */
.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-center {
    text-align: center;
}

#length, #linear-load {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

#yield-strength {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.input-div {
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
}

/* JS Dependent */
#kip-ft-units {
    display: none;
}

.propUnits {
    display: none;
}